div.container div.phase4{
     column-count: 14;
     column-gap: 5px;
     width: 630px;
     height: 100px;
     margin-left: 140px;
     margin-top: 2px;
}
     #group4{
         background-color: rgb(62, 218, 65);
         margin: 0px 0px 2px 52px;
}