.phase2{
    width: 450px;
    -moz-column-count: 10;
         column-count: 10;
    -moz-column-gap: 5px;
         column-gap: 5px;
    margin-left: 7px;
    display: inline-block;
    #group2{
        background-color: rgb(217, 87, 159);
}
}
