div.container div.phase3{
    width: 260px;
    height: 265px;
    column-count: 6;
    column-gap: 10px;
    display: inline-block;
}
    #group3{
        background-color: rgb(231, 237, 111);
    }